/******************************Not mobile version*****************************************************/
@media only screen and (min-width : 1024px) and (max-width: 1240px) {
	#viewform {
    	height: 315px !important;
    	width: 32px !important;
	}
	div.width40.floatright.box-price{
		margin-bottom: 10%;
    	margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
    	margin-bottom: 5px;
	}
	#up {
    	width: 50px !important;
    	height: 50px !important;
    	right: 40px !important;
    }
	.width40 {
		width: 60% !important;
	}
	.addtocart-button {
		width: 40% !important;
	}
	#callme {
		width: 42px !important;
	}
	.vm-pagination li {
	    margin-right: 6px !important;
	    float: left;
	}
	.poloska {
    	height: 65px !important;
    	margin-top: 150px;
    	margin-bottom: 10px;
	}
	#navigator {
	    margin-left: 3% !important;
	    word-break: nowrap;
	    margin-top: 0;
	}
	
	#top-menu a {
    	padding: 0px 5px !important;
    }
	#left-block {
    	width: 100%;
    	float: left;
	}
	#search {
    	width: 100% !important;
    	display: block !important;
    }

	body {
		min-width: 100% !important;
	}

}

@media only screen and (min-width : 769px) and (max-width : 1024px){
	#viewform {
		height: 315px !important;
		width: 32px !important;
	}
	div.width40.floatright.box-price {
		margin-bottom: 10%;
	    margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
	    margin-bottom: 5px;
	}
	#up {
		width: 50px !important;
		height: 50px !important;
		right: 40px !important;
	}
	.width40 {
		width: 60% !important;
	}
	.addtocart-button {
		width: 40% !important;
	}
	#callme {
		width: 42px !important;
	}
	.vm-pagination li {
		margin-right: 6px !important;
		float: left;
	}
	.poloska {
		height: 65px !important;
	    margin-top: 150px;
	    margin-bottom: 10px;
	}
    #navigator {
        margin-left: 3% !important;
        word-break: nowrap;
        margin-top: 0;
	}
    #top-menu a {
        padding: 0px 5px !important;
    }
    #left-block {
        width: 100%;
        float: left;
	}
	#search {
        width: 100% !important;
        display: block !important;
    }
    body {
        min-width: 100% !important;
	}
}


@media only screen and (min-width : 569px) and (max-width : 768px) {
	div.ajax_srch {
		    margin-left: 0px !important;
	}
		.form-wrapper {
		width: 100% !important;
	}
	.form-wrapper input {
    	width: 93% !important;
	}
	#viewform {
    	height: 215px !important;
    	width: 22px !important;
	}
	div.width40.floatright.box-price {
		margin-bottom: 10%;
    	margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
    	margin-bottom: 5px;
	}
	#up {
    	width: 50px !important;
    	height: 50px !important;
    	right: 40px !important;
    }
	.width40 {
    	width: 100% !important;
	}
	.addtocart-button {
		width: 100% !important;
	}
	.vm-pagination li {
	    margin-right: 6px !important;
	    float: left;
	}
	.poloska {
    	height: 65px !important;
    	margin-top: 150px;
    	margin-bottom: 10px;
	}
	#navigator {
	    margin-left: 3% !important;
	    word-break: nowrap;
	    margin-top: 0;
	}

	#top-menu a {
    	padding: 0px 5px !important;
    }
	#left-block {
    	width: 100%;
    	float: left;
	}
	#search {
    	width: 100% !important;
    	display: block !important;
    }
	#left-block {
    	width: 100% !important;
	}
	body {
		    min-width: 100% !important;
	}
	.site-name {
    	font-size: 100% !important;
    }
	#content {
		width: 100% !important;
    	margin-right: 2% !important;
	}
	.col-xs-2 {
    	width: 100% !important;
		padding-right: 15px;
		font-size: 14px !important;
	}
	.col-xs-10 {
	    width: 100% !important;
		padding-right: 15px;
	}
	.width25, .width33 {
    	width: 100% !important;
	}
}

/* iPhone 5 in portrait & landscape */
@media only screen and (min-width : 320px) and (max-width : 568px) {
	div.ajax_srch {
		    margin-left: 0px !important;
	}
	.form-wrapper {
		width: 100% !important;
	}
	.form-wrapper input {
    	width: 89% !important;
	}
	#viewform {
    	height: 215px !important;
    	width: 22px !important;
	}
	div.width40.floatright.box-price {
		margin-bottom: 10%;
    	margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
    	margin-bottom: 5px;
	}
	#up {
    	width: 50px !important;
    	height: 50px !important;
    	right: 40px !important;
    }
	.width40 {
    	width: 100% !important;
	}
	.addtocart-button {
		width: 100% !important;
	}
	.vm-pagination li {
	    margin-right: 6px !important;
	    float: left;
	}
	.poloska {
    	height: 65px !important;
    	margin-top: 150px;
    	margin-bottom: 10px;
	}
	#navigator {
	    margin-left: 3% !important;
	    word-break: nowrap;
	    margin-top: 0;
	}

	
	#top-menu a {
    	padding: 0px 5px !important;
    }
	#left-block {
    	width: 100%;
    	float: left;
	}
	#search {
    	width: 100% !important;
    	display: block !important;
    }
	#left-block {
    	width: 100% !important;
	}
	body {
		min-width: 100% !important;
	}
	.site-name {
    	font-size: 100% !important;
    }
	#content {
		width: 100% !important;
    	margin-right: 2% !important;
	}
	.col-xs-2 {
    	width: 100% !important;
		padding-right: 15px;
		font-size: 14px !important;
	}
	.col-xs-10 {
	    width: 100% !important;
		padding-right: 15px;
	}
	.width25, .width33 {
    	width: 100% !important;
	}
}
/******************************Mobile version*****************************************************/

@media only screen and (min-device-width : 1024px) and (max-device-width: 1280px) {
	.off-menu_156 .sm-level {
		position:inherit !important;
	}

	.search-position-nontop {
		margin-top:90% !important;
	}
	.search-position-top {
		margin-top:-80% !important;
	}
	#vm_ajax_search_results2148 {
		width:100% !important;
	}
	.products_search_result {
		width:100% !important;
	}
	.customer-comment {
		width:100%;
	}
	header {
    	height: 0px !important;
    }
	.form-wrapper {
		width: 100% !important;
	}
	.hidden-mobile {
    	display: none;
    }
	.form-wrapper input {
    	width: 93% !important;
	}
	#viewform {
    	height: 315px !important;
    	width: 32px !important;
	}
	div.width40.floatright.box-price {
		margin-bottom: 10%;
    	margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
    	margin-bottom: 5px;
	}
	#up {
    	width: 50px !important;
    	height: 50px !important;
    	right: 40px !important;
    }
	.width40 {
		width: 60% !important;
	}
	.addtocart-button {
		width: 40% !important;
	}
	#callme {
		width: 42px !important;
	}
	.vm-pagination li {
	    margin-right: 6px !important;
	    float: left;
	}
	.poloska {
    	height: 65px !important;
    	margin-top: 150px;
    	margin-bottom: 10px;
	}
	#navigator {
	    margin-left: 3% !important;
	    word-break: nowrap;
	    margin-top: 0;
	}
	#top-menu ul {
    	margin: 0px 0px 0 20px !important;
	}
	#top-menu a {
    	padding: 0px 5px !important;
    }
	#left-block {
    	width: 100%;
    	float: left;
	}
	#search {
    	width: 100% !important;
    	display: block !important;
    }

	body {
		min-width: 100% !important;
	}
	/* Nav bar start*/
	.user-tools-i{
		float: right;
	}
	#top-menu li {
		display:block !important;
		position: relative;
	    padding: 11px 40px 12px 55px;
	    
	}
	.hidden-mobile {
    	display: none;
    }
	#top-menu ul {
    	margin: 0px 0px 0 20px !important;
	}

	#top-menu a {
    	padding: 0px 5px !important;
    }
	.navbar {
    	min-height: 43px !important;
    	margin-bottom: 0px !important;
    }

	.user-tools-link {
	    position: relative;
	    display: block;
	    padding: 9px 8px 1px 8px;
    }

    div.menu-icon-cont {
		display: none;
	}
	.search-icon {
	    display: block;
	    width: 29px;
	    height: 27px;
	}
	.mobile-top-menu {
		display: block !important;
	}
	ul, ol {
		list-style: none;
    	margin: 0;
    	padding: 0;
    }
    .off-menu_156 {
		margin-top: -72% !important;
	}
	/* Nav bar end*/
	/*Bleck End White menu start*/
	.burger-btn {
		float: left;
	    display: block;
	    padding: 14px 11px 9px 7px;
	    margin-right: 20px;
	}
	.m-nav-icon {
		display: block;
	    background-size: contain;
	    width: 23px;
	    height: 14px;
	}
	.button-top-menu {
	    position: fixed;
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0 auto;
	    text-align: left;
	    z-index: 1043 !important;
	    margin-top: 5px;
	}
	.mfp-black-fade {
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1042;
	    overflow: hidden;
	    position: fixed;
	    background: #333;
	    opacity: 0.7;
	}
	.mfp-fade {
		width: 87%;
	    min-width: 278.4px;
	    max-width: 360.18px;
	    border: none;
	    left: 0;
	    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: linear-gradient("to bottom", rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    position: absolute;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    border-radius: 2px;
	    overflow: hidden;
	}
	.mfp-content {
		margin-left: -10px;
		
	}
	#top-menu {
	    width: 57% !important;
	    background: none !important;
	}
	#top-menu-desctop {
		width: 100%;
	    background: #114989;
	    border-bottom: 1px solid #fff;
	}
	#top-menu-desctop a {
	    padding: 5px 10px;
	    color: #fff;
	    line-height: 25px;
	    font-size: 13px;
	}
	#top-menu-desctop li {
	    display: inline;
	}
	#wrap a {
		font-size: 14px !important;
	    outline: none;
	    text-decoration: none;
	    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif !important;
	    font-weight: normal !important;
	}
	.site-name {
		display: block !important;
	    position: relative;
	    padding: 11px 40px 12px 55px;
	    font-size: 1.3846153846em;
	}
	.site-name-popup {
		background-color: #333;
	}
	.user-tools-link .total_products {
	    top: 1px;
	    right: 1px;
	    width: 18px;
	    height: 18px;
	    background: #fb3f4c;
	    font-size: 0.8230769231em;
	    line-height: 18px;
	}
	.total_products {
	    position: absolute;
	    display: block;
	    border-radius: 50%;
	    color: #fff;
	    text-align: center;
	}
/*Bleck End White menu start end*/
/* MenuBurgerStart */
	.site-name {
		display: block !important;
	    position: relative;
	    padding: 11px 40px 12px 55px;
	    font-size: 1.3846153846em;
	}
	.site-name-popup {
		background-color: #333;
	}
	.item-169:before, .item-170:before, .korzina-icon:before, .item-171:before, .item-172:before, .item-173:before{
		position: absolute;
	    top: 50%;
	    left: 28px;
	    -moz-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	}
	.item-169:after, .item-170:after, .korzina-icon:after, .item-171:after, .item-172:after, .item-173:after {
		content: '';
	    position: absolute;
	    background: url("/templates/technospace/images/arrow.png") no-repeat;
	    background-size: contain;
	    width: 9px;
	    height: 13px;
	    right: 22px;
	    top: 50%;
	    margin-top: -7px;
	}
	.korzina-icon:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/shopingcartgray.png") no-repeat;
	    background-size: contain;
   		width: 29px;
    	height: 25px
	}

	.item-169:before {    
	    content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/kredit.png") no-repeat;
	    background-size: contain;
	    width: 25px;
	    height: 25px;
	}
	.item-170:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/delivery.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;
	}
	.item-171:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/money.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;

	}
	.item-172:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/orderlist.png") no-repeat;
		background-size: contain;
	    width: 26px;
	    height: 28px;
	}
	.item-173:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/about.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.login-icon:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/login.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.textarea.customer-comment {
		width: 100%;
	}
	#korzina > button {
    	display:none;
	}
	#korzina > #vmCartModule {
		display:none;
	}
	.black-popup {
		height: 568px;
	}
	/* MenuBurgerEnd */
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px){
	.off-menu_156 .sm-level {
		position:inherit !important;
	}
	.search-position-nontop {
		margin-top:90% !important;
	}
	.search-position-top {
		margin-top:-80% !important;
	}
	#vm_ajax_search_results2148 {
		width:100% !important;
	}
	.products_search_result {
		width:100% !important;
	}
	.customer-comment {
		width:100%;
	}
	header {
    	height: 0px !important;
    }
	.form-wrapper {
		width: 100% !important;
	}
	.hidden-mobile {
    	display: none;
    }
	.form-wrapper input {
    	width: 93% !important;
	}
	#viewform {
	    height: 315px !important;
	    width: 32px !important;
	}
	div.width40.floatright.box-price {
		margin-bottom: 10%;
	    margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
	    margin-bottom: 5px;
	}
	#up {
	    width: 50px !important;
	    height: 50px !important;
	    right: 40px !important;
	}
	.width40 {
		width: 60% !important;
	}
	.addtocart-button{
		width: 40% !important;
	}
	#callme {
		width: 42px !important;
	}
	.vm-pagination li {
		margin-right: 6px !important;
		float: left;
	}
	.poloska {
	    height: 65px !important;
	    margin-top: 150px;
	    margin-bottom: 10px;
	}
	#navigator {
		margin-left: 3% !important;
		word-break: nowrap;
		margin-top: 0;
		}
	#top-menu ul {
	    margin: 0px 0px 0 20px !important;
	}
	#top-menu a {
	    padding: 0px 5px !important;
	}
	#left-block {
	    width: 100%;
	    float: left;
	}
	#search {
	   	width: 100% !important;
	   	display: block !important;
	}
	body {
		min-width: 100% !important;
	}
/* Nav bar start*/
	#top-menu li {
		display:block !important;
		position: relative;
	    padding: 11px 40px 12px 55px;
	    
	}
	#top-menu ul {
    	margin: 0px 0px 0 20px !important;
	}

	#top-menu a {
    	padding: 0px 5px !important;
    }
	.user-tools-i{
		float: right;
	}
	.navbar {
    	min-height: 43px !important;
    	margin-bottom: 0px !important;
    }

	.user-tools-link {
	    position: relative;
	    display: block;
	    padding: 9px 8px 1px 8px;
    }
    div.menu-icon-cont {
		display: none;
	}
	.search-icon {
	    display: block;
	    width: 29px;
	    height: 27px;
	}
	.mobile-top-menu {
		display: block !important;
	}
	ul, ol {
		list-style: none;
    	margin: 0;
    	padding: 0;
    }
    .off-menu_156{
		margin-top: -72% !important;
	}
	/* Nav bar end*/
	/*Bleck End White menu*/
	.burger-btn {
		float: left;
	    display: block;
	    padding: 14px 11px 9px 7px;
	    margin-right: 20px;
	}
	.m-nav-icon {
		display: block;
	    background-size: contain;
	    width: 23px;
	    height: 14px;
	}
	.button-top-menu {
	    position: fixed;
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0 auto;
	    text-align: left;
	    z-index: 1043 !important;
	    margin-top: 5px;
	}
	.mfp-black-fade {
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1042;
	    overflow: hidden;
	    position: fixed;
	    background: #333;
	    opacity: 0.7;
	}
	.mfp-fade {
		width: 87%;
	    min-width: 278.4px;
	    max-width: 360.18px;
	    border: none;
	    left: 0;
	    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: linear-gradient("to bottom", rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    position: absolute;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    border-radius: 2px;
	    overflow: hidden;
	}
	.mfp-content {
		margin-left: -10px;
	}
	#top-menu {
	    width: 47% !important;
	    background: none !important;
	}
	#top-menu-desctop {
		width: 100%;
	    background: #114989;
	    border-bottom: 1px solid #fff;
	}
	#top-menu-desctop a {
	    padding: 5px 10px;
	    color: #fff;
	    line-height: 25px;
	    font-size: 13px;
	}
	#top-menu-desctop li {
	    display: inline;
	}

	#wrap a {
		font-size: 14px !important;
	    outline: none;
	    text-decoration: none;
	    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif !important;
	    font-weight: normal !important;
	}
	.site-name {
		display: block !important;
	    position: relative;
	    padding: 11px 40px 12px 55px;
	    font-size: 14px !important;
	}
	.site-name-popup {
		background-color: #333;
	}
/*Bleck End White menu end*/
/* MenuBurgerStart */
	.site-name {
		display: block !important;
	    position: relative;
	    padding: 11px 40px 12px 55px;
	    font-size: 1.3846153846em;
	}
	.site-name-popup {
		background-color: #333;
	}
	.item-169:before, .item-170:before, .login-icon:before, .korzina-icon:before, .item-171:before, .item-172:before, .item-173:before{
		position: absolute;
	    top: 50%;
	    left: 28px;
	    -moz-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);

	}
	.item-169:after, .item-170:after, .login-icon:after, .korzina-icon:after, .item-171:after, .item-172:after, .item-173:after {
		content: '';
	    position: absolute;
	    background: url("/templates/technospace/images/arrow.png") no-repeat;
	    background-size: contain;
	    width: 9px;
	    height: 13px;
	    right: 22px;
	    top: 50%;
	    margin-top: -7px;
	}
	.korzina-icon:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/shopingcartgray.png") no-repeat;
	    background-size: contain;
   		width: 29px;
    	height: 25px
	}

	.item-169:before {    
	    content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/kredit.png") no-repeat;
	    background-size: contain;
	    width: 25px;
	    height: 25px;
	}
	.item-170:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/delivery.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;
	}
	.item-171:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/money.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;
	}
	.item-172:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/orderlist.png") no-repeat;
		background-size: contain;
	    width: 26px;
	    height: 28px;
	}
	.item-173:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/about.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.login-icon:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/login.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.black-popup {
		height: 1268px ;
	}
	#korzina > button {
    	display:none;
	}
	#korzina > #vmCartModule {
		display:none;
	}
	/* MenuBurgerEnd */
}
@media only screen and (min-device-width : 569px) and (max-device-width : 768px) {
	.off-menu_156 .sm-level {
		position:inherit !important;
	}
	.search-position-nontop {
		margin-top:90% !important;
	}
	.search-position-top {
		margin-top:-80% !important;
	}
	#vm_ajax_search_results2148 {
		width:100% !important;
	}
	.products_search_result {
		width:100% !important;
	}
	.customer-comment {
		width:100%;
	}
	header {
    	height: 0px !important;
    }
	#jivo_css_detector {
		display:none;
	}
	div.ajax_srch {
		    margin-left: 0px !important;
	}
	.form-wrapper {
		width: 100% !important;
	}
	.form-wrapper input {
    	width: 93% !important;
	}
	#viewform {
    	height: 215px !important;
    	width: 22px !important;
	}
	div.width40.floatright.box-price {
		margin-bottom: 10%;
    	margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
    	margin-bottom: 5px;
	}
	#up {
    	width: 50px !important;
    	height: 50px !important;
    	right: 40px !important;
    }
	.width40 {
    	width: 100% !important;
	}
	.addtocart-button {
		width: 100% !important;
	}
	.vm-pagination li {
	    margin-right: 6px !important;
	    float: left;
	}
	.poloska {
    	height: 65px !important;
    	margin-top: 150px;
    	margin-bottom: 10px;
	}
	#navigator {
	    margin-left: 3% !important;
	    word-break: nowrap;
	    margin-top: 0;
	}
	#left-block {
    	width: 100%;
    	float: left;
	}
	#search {
    	width: 100% !important;
    	display: block !important;
    }
	#left-block {
    	width: 100% !important;
	}
	body {
		min-width: 100% !important;
	}
	.site-name {
    	font-size: 100% !important;
    }
	#content {
		width: 100% !important;
    	margin-right: 2% !important;
	}
	.col-xs-2 {
    	width: 100% !important;
		padding-right: 15px;
		font-size: 14px !important;
	}
	.col-xs-10 {
	    width: 100% !important;
		padding-right: 15px;
	}
	.width25, .width33 {
    	width: 100% !important;
	}
	/* Nav bar start*/
	#top-menu li {
		display:block !important;
		position: relative;
	    padding: 11px 40px 12px 55px;
	}
	.hidden-mobile{
    	display: none;
    }
	#top-menu ul {
    	margin: 0px 0px 0 20px !important;
	}

	#top-menu a {
    	padding: 0px 5px !important;
    }
	.user-tools-i {
		float: right;
	}
	.navbar {
    	min-height: 43px !important;
    	margin-bottom: 0px !important;
    }
	.user-tools-link {
	    position: relative;
	    display: block;
	    padding: 9px 8px 1px 8px;
    }
    div.menu-icon-cont {
		display: none;
	}
	.search-icon {
	    display: block;
	    width: 29px;
	    height: 27px;
	}
	.mobile-top-menu {
		display: block !important;
	}
	ul, ol {
		list-style: none;
    	margin: 0;
    	padding: 0;
    }
    .off-menu_156 {
		margin-top: -72% !important;
	}
	/* Nav bar end*/

	/*Bleck End White menu start*/
	.burger-btn {
		float: left;
	    display: block;
	    padding: 14px 11px 9px 7px;
	    margin-right: 20px;
	}
	.m-nav-icon {
		display: block;
	    background-size: contain;
	    width: 23px;
	    height: 14px;
	}
	.button-top-menu {
	    position: fixed;
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0 auto;
	    text-align: left;
	    z-index: 1043 !important;
	    margin-top: 5px;
	}
	.mfp-black-fade {
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1042;
	    overflow: hidden;
	    position: fixed;
	    background: #333;
	    opacity: 0.7;
	}
	.mfp-fade {
		width: 87%;
	    min-width: 278.4px;
	    max-width: 360.18px;
	    border: none;
	    left: 0;
	    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: linear-gradient("to bottom", rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    position: absolute;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    border-radius: 2px;
	    overflow: hidden;
	}
	.mfp-content {
		margin-left: -10px;
		
	}
	#top-menu {
	    width: 57% !important;
	    background: none !important;
	}
	#top-menu-desctop {
		width: 100%;
	    background: #114989;
	    border-bottom: 1px solid #fff;
	}
	#top-menu-desctop a {
	    padding: 5px 10px;
	    color: #fff;
	    line-height: 25px;
	    font-size: 13px;
	}
	#top-menu-desctop li {
	    display: inline;
	}

	#wrap a {
		font-size: 14px !important;
	    outline: none;
	    text-decoration: none;
	    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif !important;
	    font-weight: normal !important;
	}
	.site-name  {
		display: block !important;
	    position: relative;
	    padding: 11px 40px 12px 55px;
	    font-size: 1.3846153846em;
	}
	.site-name-popup {
		background-color: #333;
	}
	.user-tools-link .total_products {
	    top: 1px;
	    right: 1px;
	    width: 18px;
	    height: 18px;
	    background: #fb3f4c;
	    font-size: 0.8230769231em;
	    line-height: 18px;
	  
	}
	.total_products {
	    position: absolute;
	    display: block;
	    border-radius: 50%;
	    color: #fff;
	    text-align: center;
	}
/*Bleck End White menu start end*/
/* MenuBurgerStart */
	.site-name {
		display: block !important;
	    position: relative;
	    padding: 11px 40px 12px 55px;
	    font-size: 1.3846153846em;
	}
	.site-name-popup {
		background-color: #333;
	}
	.item-169:before, .item-170:before, .login-icon:before, .korzina-icon:before, .item-171:before, .item-172:before, .item-173:before{
		position: absolute;
	    top: 50%;
	    left: 28px;
	    -moz-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);

	}
	.item-169:after, .item-170:after, .login-icon:after, .korzina-icon:after, .item-171:after, .item-172:after, .item-173:after {
		content: '';
	    position: absolute;
	    background: url("/templates/technospace/images/arrow.png") no-repeat;
	    background-size: contain;
	    width: 9px;
	    height: 13px;
	    right: 22px;
	    top: 50%;
	    margin-top: -7px;
	}
	.korzina-icon:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/shopingcartgray.png") no-repeat;
	    background-size: contain;
   		width: 29px;
    	height: 25px
	}
	.item-169:before {    
	    content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/kredit.png") no-repeat;
	    background-size: contain;
	    width: 25px;
	    height: 25px;
	}
	.item-170:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/delivery.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;
	}
	.item-171:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/money.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;
	}
	.item-172:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/orderlist.png") no-repeat;
		background-size: contain;
	    width: 26px;
	    height: 28px;
	}
	.item-173:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/about.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.korzina-icon:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/login.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.korzina-icon:before {
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/login.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.textarea.customer-comment {
		width: 100%;
	}
	#korzina > button {
    	display:none;
	}
	#korzina > #vmCartModule {
		display:none;
	}
	.black-popup {
		height: 1068px;
	}
	/* MenuBurgerEnd */
}

/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.off-menu_156 .sm-level {
		position:inherit !important;
	}
	.search-position-nontop {
		margin-top:90% !important;
	}
	.search-position-top {
		margin-top:-80% !important;
	}
	#vm_ajax_search_results2148 {
		width:100% !important;
	}
	.products_search_result {
		width:100% !important;
	}
	.customer-comment {
		width:100%;
	}
	header {
    	height: 0px !important;
    }
	#jivo_css_detector {
		display:none;
	}
	.hidden-mobile {
    	display: none;
    }
	.user-tools {
		float: right;
	}
	.jivo-fixed-bottom {
		display: none !important;
	}
	/* Nav bar start*/
	#top-menu li {
		display:block !important;
		position: relative;
	    padding: 11px 40px 12px 55px;
	    
	}
	.hidden-mobile{
    	display: none;
    }
	#top-menu ul {
    	margin: 0px 0px 0 20px !important;
	}

	#top-menu a {
    	padding: 0px 5px !important;
    }
	.user-tools-i{
		float: right;
	}
	
	.navbar {
    	min-height: 43px !important;
    	margin-bottom: 0px !important;
    }

	.user-tools-link {
	    position: relative;
	    display: block;
	    padding: 9px 8px 1px 8px;
    }

	
    div.menu-icon-cont{
		display: none;
	}
	.search-icon {
	    display: block;
	    width: 29px;
	    height: 27px;
	}
	.mobile-top-menu{
		display: block !important;
	}
	ul, ol {
		list-style: none;
    	margin: 0;
    	padding: 0;
    }
    .off-menu_156{
		margin-top: -72% !important;
	}
	/* Nav bar end*/

	div.ajax_srch {
		margin-left: 0px !important;
	}

	.form-wrapper {
		width: 100% !important;
	}
	.form-wrapper input {
    	width: 90% !important;
	}

	#viewform {
		display:none;
    	height: 215px !important;
    	width: 22px !important;
	}
	div.width40.floatright.box-price {
		margin-bottom: 10%;
    	margin-top: 10%;
	}
	.vm-button-left-menu {
		margin-top: 20px;
    	margin-bottom: 5px;
	}
	#up {
    	width: 50px !important;
    	height: 50px !important;
    	right: 40px !important;
    }
	.width40 {
    	width: 100% !important;
	}
	.addtocart-button {
		width: 100% !important;
	}
	.vm-pagination li {
	    margin-right: 6px !important;
	    float: left;
	}
	.poloska {
    	height: 65px !important;
    	margin-top: 150px;
    	margin-bottom: 10px;
	}
	#navigator {
	    margin-left: 3% !important;
	    word-break: nowrap;
	    margin-top: 0;
	}
	

	#top-menu a {
    	padding: 0px 5px !important;
    }
	#left-block {
    	width: 100%;
    	float: left;
	}
	#search {
    	width: 100% !important;
    	display: block !important;
    }
	#left-block {
    	width: 100% !important;
	}
	body{
		min-width: 100% !important;
	}
	.site-name {
    	font-size: 100% !important;
    }
	#content {
		width: 100% !important;
    	margin-right: 2% !important;
	}
	.col-xs-2 {
    	width: 100% !important;
		padding-right: 15px;
		font-size: 14px !important;
	}
	.col-xs-10 {
	    width: 100% !important;
		padding-right: 15px;
	}
	.width25, .width33 {
    	width: 100% !important;
	}
	
	.burger-btn{
		float: left;
	    display: block;
	    padding: 14px 11px 9px 7px;
	    margin-right: 20px;
	}
	.m-nav-icon{
		display: block;
	    background-size: contain;
	    width: 23px;
	    height: 14px;
	}
	.button-top-menu{
	    position: fixed;
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0 auto;
	    text-align: left;
	    z-index: 1043 !important;
	    margin-top: 5px;
	}
	.mfp-black-fade{
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1042;
	    overflow: hidden;
	    position: fixed;
	    background: #333;
	    opacity: 0.7;
	}
	.mfp-fade{
		width: 87%;
	    min-width: 278.4px;
	    max-width: 360.18px;
	    border: none;
	    left: 0;
	    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    background: linear-gradient("to bottom", rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
	    position: absolute;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    border-radius: 2px;
	    overflow: hidden;
	}
	.mfp-content{
		
		margin-left: -10px;
	}
	#top-menu {
	    width: 87% !important;
	    background: none !important;
	}
	#top-menu-desctop{
		width: 100%;
	    background: #114989;
	    border-bottom: 1px solid #fff;
	}
	#top-menu-desctop a {
	    padding: 5px 10px;
	    color: #fff;
	    line-height: 25px;
	    font-size: 13px;
	}
	#top-menu-desctop li {
	    display: inline;
	}
	#top-menu li{
		display:block !important;
		position: relative;
	    padding: 11px 40px 12px 55px;
	    
	}
	#wrap a {
		font-size: 14px !important;
	    outline: none;
	    text-decoration: none;
	    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif !important;
	    font-weight: normal !important;
	}
	.site-name{
		display: block !important;
	    position: relative;
	    padding: 11px 40px 12px 55px;
	    font-size: 1.3846153846em;
	}
	.site-name-popup{
		background-color: #333;
	}
	.user-tools-link .total_products {
	    top: 1px;
	    right: 1px;
	    width: 18px;
	    height: 18px;
	    background: #fb3f4c;
	    font-size: 0.8230769231em;
	    line-height: 18px;
	  
	}
	.total_products {
	    position: absolute;
	    display: block;
	    border-radius: 50%;
	    color: #fff;
	    text-align: center;
	}
	
/*Bleck End White menu start end*/
/* MenuBurgeStart */
	.item-169:before, .item-170:before, .login-icon:before, .login-icon:before, .korzina-icon:before, .item-171:before, .item-172:before, .item-173:before{
		position: absolute;
	    top: 50%;
	    left: 28px;
	    -moz-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);

	}

	.item-169:after, .item-170:after, .login-icon:after, .korzina-icon:after, .item-171:after, .item-172:after, .item-173:after {
		content: '';
	    position: absolute;
	    background: url("/templates/technospace/images/arrow.png") no-repeat;
	    background-size: contain;
	    width: 9px;
	    height: 13px;
	    right: 22px;
	    top: 50%;
	    margin-top: -7px;
	}
	.korzina-icon:before{
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/shopingcartgray.png") no-repeat;
	    background-size: contain;
   		width: 29px;
    	height: 25px
	}

	.item-169:before{    
	    content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/kredit.png") no-repeat;
	    background-size: contain;
	    width: 25px;
	    height: 25px;
	}
	.item-170:before{
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/delivery.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;
	}
	.item-171:before{
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/money.png") no-repeat;
	    background-size: contain;
	    width: 29px;
	    height: 25px;

	}
	.item-172:before{
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/orderlist.png") no-repeat;
		background-size: contain;
	    width: 26px;
	    height: 28px;
	}
	.item-173:before{
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/about.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.login-icon:before{
		content: '';
	    display: inline-block;
	    background: url("/templates/technospace/images/login.png") no-repeat;
	    background-size: contain;
    	width: 22px;
    	height: 22px;		
	}
	.textarea.customer-comment{
		width: 100%;
	}
	#korzina > button {
    	display:none;
	}
	#korzina > #vmCartModule{
		display:none;
	}
	.black-popup{
		height: 760px;
	}
	.hidden-none-mobile{
		display:block !important;
	}
	#korzina {
	    box-shadow: 0px 0px 0px #000 !important;
	    width: 0% !important;
	    height: 0% !important;
	    margin: 0% !important;
	    background: #fff !important;
	    padding: 0px !important;
	    border-radius: 0px !important;
	}
	.custom{
		display:none;
	}
	/* MenuBurgerEnd */
}

.mobile-top-menu{
	display: none;
	
}
.mpf-search{
	opacity: 0.7;
	background: #fff;
	filter: alpha(opacity=80);
}

.mpf-white{
	opacity: 0.7;
	background: #fff;
	filter: alpha(opacity=80); 
}
.mpf-black{
	opacity: 0.7;
	background: #333;
	filter: alpha(opacity=80); 
}

#top-menu-not a{
	padding: 5px 10px;
    color: #fff;
    line-height: 25px;
    font-size: 13px;
}
#top-menu-not{
	width: 100%;
    background: #114989;
    border-bottom: 1px solid #fff;
}
#top-menu-not li {
    display: inline;
}
#top-menu-not ul {
    margin: 0;
}
.hidden-none-mobile{
	display:none;
}
.popup{
    height: 100%;
    width: 87% !important;
    min-width: 278.4px;
    max-width: 360.18px;
    border: none;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient("to bottom", rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
     position: absolute;
    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    
    border-bottom: 3px solid #ccc;
    border-radius: 2px;
 
    overflow: hidden;
}

