﻿body{padding:0; color:#4F4F4F;}
#wrapper{width:100%; margin:auto;}
#wrap a{outline:none; text-decoration:none;}
#wrap button{outline:none;}
#main{background:#fff;}

input[type=number]{-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button {display: none;}
.cp-group-parent{display: none;}
.cp-price-field-input{max-width: 100px; width: 100% !important;}
.cp-price-field{width:40%;}

h1,h2,h3,h4,h5,h6{font-family: "Roboto",sans-serif;}

#top-menu{width:100%; background:#114989; border-bottom:1px solid #fff;}
#top-menu ul{margin:0;}
#top-menu li{display:inline;}
#top-menu a{padding:5px 10px; color:#fff; line-height:25px; font-size:13px;}

header{height:150px; background:linear-gradient(to top, #fff, #114989);}
#logo a{text-decoration:none;}
.site-name{font-size:48px; font-weight:bold; color:#fff; text-transform:uppercase; text-shadow:2px 2px 2px #000;position: relative;}
.site-name:hover{color:#E6E1FF; }
#logo{text-align:center; margin-top:30px;}
.tel{color:#fff; font-size:16px; font-weight:bold; margin-left:5%;}
#search{width:90%; text-align:center; margin:25px auto 0;}
#search .custom{font-size:18px; color:#fff;}
#searchs input[type="text"]{width:85%; height:35px !important; padding:5px 15px; margin:10px 2.5%; border-radius:5px; border:2px solid green;}
#searchs input[type="submit"]{width:10%; height:35px !important; padding:5px 15px; margin:10px 0%; border-radius:5px; background:linear-gradient(to top, #ffc, #008000); border:none; color:#fff; font-weight:500;}
#searchs input[type="submit"]:hover{background:linear-gradient(to top, #fcc, #008880); color:#fff;}

#korzina{box-shadow:2px 3px 9px #000; width:96%; height:96%; margin:2%; background:#fff; padding:5px; border-radius:5px;}
#korzina > button{box-shadow:2px 3px 9px #000; margin-bottom:10px;}

.nav > li {position:static;}
.jse-nav > li > a{height:50px; line-height:15px; vertical-align:middle;}

#menus ul ul{display:none; float:left;}
#menus ul li:hover ul{display:block;}

#content .icons{display:none;}
#content .vm-price-desc{color:#000;}
#content span.PricesalesPrice{font-size:28px; font-style:italic; font-weight:bold;}

#left-block{width:25%; float:left;}
#left-block .moduletable{margin-bottom:25px;}
#right-block .vmgroup img{width:50%; margin:auto; text-align:center;}
#right-block li{list-style:none;}


.poloska{height:25px; line-height:30px; width:100%; background:#F5F5F5; border-bottom:1px solid #ccc; font-size:12px;}
#content{width:73%; float:left; margin-left:2%;}

#search .input-group{box-shadow:3px 3px 9px #000;}

.category .spaser{}
#form-login-username > label, #form-login-username > input{width:50%;}
.banneritem{margin-bottom:10px;}
.banneritem img{width:95%; }

.clear{clear:both;}
.studio p{width:100%; margin:auto; text-align:center; line-height:50px; padding:0;}

footer {
	background:#EEEEEE;
}

footer h3 {
	font-size:14px;
	font-weight:bold;
}

footer p, footer p a {
	font-size:12px;
}

.vm-product-descr-container-1 h2{font-size:16px;}

.input-group { margin-bottom:10px; }

.pass-reg {
	margin-top:10px;
}
.pass-reg a{
	margin-top:10px;
	margin-right:10px;
}

.modal-dialog{
	z-index:1050;
}

.form-buttons {
	margin-top:15px;
}

.br {
	padding:5px 0;
}

.title-product {
	height:50px;
	font-size:16px;
	font-weight:bold;
	overflow:hidden;
}

.title-product a {
	color:#4F4F4F;
}

.title-product a:hover {
	color:#787878;
}

.product-price {
	text-align:center;
}

.product li {
	list-style:none;
}

.browse-views .product:hover {
	box-shadow:0 2px 5px #242424;
	border-radius:5px;
}

.productdetails-view .product-short-description {
	padding-left:25px;
}

.productdetails-view .pager {
	margin:0;
	float:right;
}

input.addtocart-button {
	padding:10px 15px;
}

#up {
	position:fixed;
	width:80px;
	height:50px;
	background:rgba(229, 229, 229, 0.8);
	border-radius:5px;
	bottom:15px;
	right:15px;
	text-align:center;
}

#up a {
	display:block;
	text-decoration:none;
	color:#4f4f4f;
}

#up a i{
	font-size:20px;
}

.tabs-nav {
	margin-top:35px;
}

.product-field {
	display:block;
	width:100%;
	margin-bottom:10px;
}

.info-text {
	margin-top:25px;
	color:#888888;
	font-size:12px;
	font-style:itlic;
}

.customer-reviews {
	margin:15px 0;
}

.tab-content-product {
	margin-bottom:25px;
}

.valuta {
	font-size:12px;
	font-weight:normal;
}

.additional-images img {
	height:35px;
}

.menu {clear:both;}

.gray{
	background:#E0E0E0;
}
#customfields tr {
	background:#E0E0E0;
	margin:0;
}
#customfields tr:nth-child(2n) {
	background:#fff;
}
#customfields td{
	padding:10px;
}
.nav-tabs li a{
}

.extraslider-control .pagination > li > a {
	padding:0 10px;
}
.category-view h4{display:none;}

.cherrys{background:linear-gradient(to top, #fff, #69A9D0);}
.cp-price-field-input{background:none; color:#6A696C; width:55px;}
.cp-totalproducts{margin:15px;}
#navigator{margin-left:22%; word-break:nowrap;}

#categ .imgproductdet{margin-bottom:15px;}
#categ .browse-view .row .product .spacer img{max-width:100%; max-height:200px; margin:10px 0;}
#categ h1.cat-name{margin-top:0;}
#categ .PricesalesPrice{width:70%; float:left;}
#categ  span.PricesalesPrice{width:100%;}
#categ .butt{float:left; margin:5px 5px 0 0;}
.tovar-desc{display:none; margin-top:6px; width:90%;}
.tovar-desc p{width:100%;}
.product:hover .tovar-desc{width:100%; display:block; background:#fff; border:1px solid #ccc; border-top:none; position:absolute; z-index:1111; left:0;}
@media (min-width: 1024px) {
	.product .browseProductImage{transition: 1s;}
}
.product:hover .browseProductImage{max-width:120% !important; max-height: 120% !important;}
.product{position:relative; background:#fff;  border:1px solid #ccc; margin:0 0.5%;}
.w333{width:32%;}

.imgproductdet{height:300px;}
.browse-view .row .product .spacer img{max-height:200px; width:auto;}
.w333 h2{height:30px;}

.box-price .product{border:none; background:none;}
span.PricesalesPrice{width:100%;}
.spacer-buy-area{margin-bottom:30px;}
.vote{margin-top:15px;}

.productdetails  .product-price{width:50%; float:left;}
.productdetails  .addtocart-area{float:left; width:50%;}
span.addtocart-button {width:auto; float:none; margin:0;}
.productdetails-view .addtocart-bar{margin:0; padding:0;}
span.addtocart-button input.addtocart-button:hover{background:#4693DB;}

.socbuttons{overflow:visible !important;}
.yashare-auto-init{float:right;}
.b-share-icons{width:36px !important; height:36px !important; background-size:contain !important;}

.product-rating{margin-top:15px;}

.free_delivery {border-radius:10px; background:#E2F1FF; box-shadow:2px 2px 5px #000;line-height: 1.3em; margin-bottom: 2%;margin-top: -4%;}

.box-price{border-radius:10px; background:#E2F1FF; box-shadow:2px 2px 5px #000;}

.orderlistcontainer div.activeOrder {
cursor: pointer;
font-size: 12px;
padding: 2px 24px 1px 12px;
float: left;
margin-right: 3px;
text-decoration: underline;
}
.orderlistcontainer div.orderlist {
display: block !important;
background: #FFF;
cursor: pointer;
float: left;
}
.orderlistcontainer div.orderlist div {
padding: 2px 12px 1px;
float: left;
margin: 0 3px;
}
.orderlistcontainer .title{float:left; line-height:20px;}
.virtuemart_search .inputbox{height:auto;}

.cart-summary td{padding:10px 0;}
.cart-images{width:50%; float:left; margin-right:10px;}
.cart-images img{width:100%; min-width:150px;}
.input .quantity-input {height:auto;}
#fancybox-title{display:none !important;}
.vm2-remove_from_cart{background:url(../images/bg-close.png) no-repeat; width:12px; height:12px;}
table.cart-summary tr th{background:linear-gradient(to top, #fff, #95C5FC);border-bottom:solid #E9E8E8 1px;padding:10px 15px;}
#div_shipto{display:none;}
.main-image img{max-width:90%;}
.jse-nav > li{float:none;}

.crt_all_block{margin-top:20px;}
.crt_close{float:left; margin:10 0px;}
	.crt_close a{display:block; position:relative; background:url(../images/bg-close.png) no-repeat; background-size:contain; width:15px; height:15px;}
.crt_block{margin-left:25px;}
.crt_img{float:left; width:20%;}
	.crt_img img{width:100%;}
.crt_info{float:left; width:80%;}
.crt_title{float:left; width:100%; margin-left:15px;}
.crt_bottom{float:left; width:100%; margin-top:15px;}
.crt_price{float:left; width:40%; padding-left:10%;}
.crt_count{float:left; width:20%;}
	.crt_count input{text-align:center; display:table-cell; vertical-align:middle;}
.crt_price_total{float:left; width:20%; text-align:center;}

.my_cart_cupon{}
.my_cart_all_total{text-align:center;}
.w50{width:50%;}
.cart-view{margin-bottom:50px;}
.crt_top_bot{width:100%; height:15px; border-radius:5px; background:rgba(125, 136, 247, 0.54); margin:10px 0;}
.vmorder-done tr td:first{font-weight:bold;}
.vm-pagination{margin-top:20px;}
.vm-pagination ul{padding:0;}
.vm-pagination li{margin-right:10px;}
.block-img-prod{width:100%; height:220px; overflow:hidden;}

.sub-menu{display: none; width: 100%; background: #fff; z-index: 99;}
.sub-menu.vm-catelgries-level-1{position: absolute; left: 0; padding: 25px 10px; }
.sub-menu.vm-catelgries-level-1 > li{float: left; margin: 10px;}
.sub-menu.vm-catelgries-level-1 > li > a{font-weight: 600;}
.sub-menu.vm-catelgries-level-2, .sub-menu.vm-catelgries-level-3{padding-left: 10px;}
.sub-menu.vm-catelgries-level-2 > li{padding: 2px 5px;}
.main-menu{position: relative;}
.main-menu li{list-style: none;}
.main-menu > li:hover > ul{border: 1px solid #ccc; border-top: none;}
.main-menu li:hover ul{display: block;}

.coll_cart{width: 40%;float: right;margin-top: -405px;position: relative;right: 100px;border: 1px solid  #0064CD;border-radius: 10px; padding: 3px;font-size: 12.16px; line-height: 1.3em;}
div#slider {margin-bottom: 2%;}